.col-md-3, .col-md-4, .col-md-2{
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: #616161;
  background-color: #d9d9d9;
  height: 100%;
}

h4 {
  padding-top: 300px;
  font-size: 84px;
  color: #616161;
  text-align: center;
}

.logo {
  margin: 0px;
}

.container {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px 0 20px 70px;
  background-color: #cecece;
  margin: 0;
}

.bottom {
  margin: 0;
  padding: 0;
}

.icon {
  margin-top: 22px;
  text-align: center;
}

.icon > img{
  height: 50px;
  margin-top: -20px;
}

h1 {
  padding: 25px 0 10px 0;
  text-align: center;
  margin: 0;  
  border-bottom-style: solid;
  border-bottom-width: 5px;
  font-weight: 100;
  font-size: 42px;

}

.PR > h1 {
  border-bottom-color: #A7A4FF;
  padding-left: 70px; 
}

.ACT > h1 {
  border-bottom-color: #FFA4A4;
}

.gitter > h1 {
  border-bottom-color: rgb(134, 214, 116);
  padding-right: 70px;
}

.icon > span {
  font-size: 40px;
  margin-left: 16px;
}

/*Issues Section*/

.issue-icon {
  color: #66BB6A;
}

/* Popup notification */

.wrap {
  z-index: 9999;
  position: absolute;
  overflow: hidden;
  top: 10%;
  right: 10%;
  bottom: 85px;
  left: 10%;
  padding: 20px 50px;
  display: block;
  border-radius: 6px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}

.wrap .content {
  opacity: 0;
}

.wrap:before {
  z-index: 9999;
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active {
  z-index: 9999;
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}

.wrap.active:before {
  z-index: 9999;
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrap.active .content {
  position: relative;
  z-index: 9999;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.button {
  padding: 11px 11px 13px 13px;
  outline: none;
  border-radius: 50%;
  background: #007fed;
  color: #fff;
  font-size: 24px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;
  text-decoration: none;
  transition: transform 0.25s;
}
a.button:hover {
  text-decoration: none;
  background: #2198ff;
}
a.button.active {
  transform: rotate(135deg);
  transition: transform 0.5s;
}

/* Global */
.card-icon {
  padding-top: 12px;
  padding-left: 22px;
  font-size: 36px;
}

.card-user {
  font-weight: 200;
  color: #878787;
  margin-top: -25px;
}

.card {
  font-weight: 200;
  background-color: white;
  padding: 10px;
  margin: 15px 12px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.pull-request {
  display: block;
  background-image: url(pull-request.png);
  min-height: 100px;
  min-width: 100px;
}

#gitter {
  height: 100%;
  width: 100%;
  border: none;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.colcontainer {
    width: 33.333333333333333333%;
    height: calc(100% - 213px);
    overflow-y: scroll;
    position: fixed;
}

.gitter > .colcontainer {
    padding: 15px 70px 15px 15px;;
}

.content {
  margin: 0 20px 0 20px;
}

.prs > .content > h2 {
  background-color: #868C97;
  color: white;
}

.card-user {
    font-family: 'Helvetica Neue';
}

#last-issue {
    font-family: 'Helvetica Neue';
    font
}

.PR .colcontainer {
    padding-left: 70px;
}

/*
.ACT .card {
    background-color: #868C97;
}

.ACT .card-user {
    color: #e4e4e4;
}

.ACT #last-issue {
    color: white;
}
*/