body {
  color: white;
  background-color: black;
}

h1 {
  border-bottom: 2px solid white;
}

h3 {
  padding-top: 400px;
  font-size: 84px;
  color: purple;
  text-shadow: 0px 0px 10px 5px grey;
  text-align: center;
}

.top {
  margin-top: 50px;
  font-size: 32px;
}

.bottom {
  padding-top: 50px;
}

.container {
  width: 1500px;
}

.icons {
  margin-top: 50px;
  font-size: 72px;
}

.fa-star {
  color: #FFFF00;
}

.fa-code-fork {
  color: #039BE5;
}

.fa-exclamation-circle {
  color: #FF3D00;
}

#gitter {
  height: 700px;
  width: 600px;
  border: none;
  align-self: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px purple;
}

.wrap {
  z-index: 9999;
  position: absolute;
  overflow: hidden;
  top: 10%;
  right: 10%;
  bottom: 85px;
  left: 10%;
  padding: 20px 50px;
  display: block;
  border-radius: 6px;
  transform: translateY(20px);
  transition: all 0.5s;
  visibility: hidden;
}
.wrap .content {
  opacity: 0;
}
.wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.wrap.active:before {
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active .content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

a.button {
  padding: 11px 11px 13px 13px;
  outline: none;
  border-radius: 50%;
  background: #007fed;
  color: #fff;
  font-size: 24px;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 20px;
  top: auto;
  margin-left: -25px;
  text-decoration: none;
  transition: transform 0.25s;
}
a.button:hover {
  text-decoration: none;
  background: #2198ff;
}
a.button.active {
  transform: rotate(135deg);
  transition: transform 0.5s;
}

.congrats {
  z-index: 9999;
	position: absolute;
	top: 140px;
	width: 550px;
	height: 100px;
	padding: 20px 10px;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.blob {
  z-index: 99999;
	height: 50px;
	width: 50px;
	color: #ffcc00;
	position: absolute;
	top: 45%;
	left: 45%;
	font-size: 30px;
	display: none;
}
