body {
  color: white;
  background-color: black;
}

h1 {
  border-bottom: 2px solid white;
}

.top {
  margin-top: 50px;
  font-size: 32px;
}

.bottom {
  padding-top: 50px;
}

.container {
  width: 1500px;
}

.icons {
  margin-top: 50px;
  font-size: 72px;
}

.fa-star {
  color: #FFFF00;
}

.fa-code-fork {
  color: #039BE5;
}

.fa-exclamation-circle {
  color: #FF3D00;
}

.pull-request {
  display: block;
  background-image: url(pull-request.png);
  min-height: 100px;
  min-width: 100px;
}

#gitter {
  height: 700px;
  width: 600px;
  border: none;
  align-self: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px purple;
}
